<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>formation-spring-webmvc</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<!-- Déclaration de la Servlet SPRING DispatcherServlet -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		
		<!-- On dit qu'on est en configuration par classe JAVA -->
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
		</init-param>
		
		<!-- On dit qu'elle classe de configuration principale on utilise -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>fr.formation.config.WebConfig</param-value>
		</init-param>
		
		<!-- On charge cette Servlet au démarrage du serveur pour charger le contexte de SPRING à ce moment-là -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- Mapping de la Servlet SPRING sur TOUTES les ressources -->
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
	<!-- Délai session : durée d'inactivité (minutes) avant la destruction de la session -->
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
</web-app>